<%- include('partials/header'); -%>

<div class='page home'>
  <div class="lock">
    <img src='/lock.svg' alt=''>
  </div>
  <div class="home-text">
    <h2>My JWT-Example</h2>
    <h3>A simple FullStack CRUD application with validation</h3>
    <a href='/welcome' class='button'>enter</a>
  </div>
</div>

<%- include('partials/footer'); -%>
